.Lblock1{background: url(../screens/block1.jpg); background-size: contain;}
.Lblock2{background: url(../screens/block2.jpg); background-size: contain;}
.Lblock3{background: url(../screens/block3.jpg); background-size: contain;}
.Lblock4{background: url(../screens/block4.jpg); background-size: contain;}
.Lblock5{background: url(../screens/block5.jpg); background-size: contain;}
.Lblock6{background: url(../screens/block6.jpg); background-size: contain;}
.Lblock7{background: url(../screens/block7.jpg); background-size: contain;}
.Lblock8{background: url(../screens/block8.jpg); background-size: contain;}
.Lblock9{background: url(../screens/block9.jpg); background-size: contain;}
.Lblock10{background: url(../screens/block10.jpg); background-size: contain;}
.Lblock11{background: url(../screens/block11.jpg); background-size: contain;}
.Lblock12{background: url(../screens/block12.jpg); background-size: contain;}
.Lblock13{background: url(../screens/block13.jpg); background-size: contain;}
.Lblock14{background: url(../screens/block14.jpg); background-size: contain;}
.Lblock15{background: url(../screens/block15.jpg); background-size: contain;}
.Lblock16{background: url(../screens/block16.jpg); background-size: contain;}
.Lblock17{background: url(../screens/block17.jpg); background-size: contain;}
.Lblock18{background: url(../screens/block18.jpg); background-size: contain;}
.Lblock19{background: url(../screens/block19.jpg); background-size: contain;}
.Lblock20{background: url(../screens/block20.jpg); background-size: contain;}
.Lblock21{background: url(../screens/block21.jpg); background-size: contain;}
.Lblock22{background: url(../screens/block22.jpg); background-size: contain;}
.Lblock23{background: url(../screens/block23.jpg); background-size: contain;}
.Lblock24{background: url(../screens/block24.jpg); background-size: contain;}
.Lblock25{background: url(../screens/block25.jpg); background-size: contain;}
.Lblock26{background: url(../screens/block26.jpg); background-size: contain;}
.Lblock27{background: url(../screens/block27.jpg); background-size: contain;}
.Lblock28{background: url(../screens/block28.jpg); background-size: contain;}
.Lblock29{background: url(../screens/block29.jpg); background-size: contain;}
.Lblock30{background: url(../screens/block30.jpg); background-size: contain;}
.Lblock31{background: url(../screens/block31.jpg); background-size: contain;}
.Lblock32{background: url(../screens/block32.jpg); background-size: contain;}
.Lblock33{background: url(../screens/block33.jpg); background-size: contain;}
.Lblock34{background: url(../screens/block34.jpg); background-size: contain;}
.Lblock35{background: url(../screens/block35.jpg); background-size: contain;}
.Lblock36{background: url(../screens/block36.jpg); background-size: contain;}
.Lblock37{background: url(../screens/block37.jpg); background-size: contain;}
.Lblock38{background: url(../screens/block38.jpg); background-size: contain;}
.Lblock39{background: url(../screens/block39.jpg); background-size: contain;}
.Lblock40{background: url(../screens/block40.jpg); background-size: contain;}
.Lblock41{background: url(../screens/block41.jpg); background-size: contain;}
.Lblock42{background: url(../screens/block42.jpg); background-size: contain;}
.Lblock43{background: url(../screens/block43.jpg); background-size: contain;}
.Lblock44{background: url(../screens/block44.jpg); background-size: contain;}
.Lblock45{background: url(../screens/block45.jpg); background-size: contain;}
.Lblock46{background: url(../screens/block46.jpg); background-size: contain;}
.Lblock47{background: url(../screens/block47.jpg); background-size: contain;}
.Lblock48{background: url(../screens/block48.jpg); background-size: contain;}
.Lblock49{background: url(../screens/block49.jpg); background-size: contain;}
.Lblock50{background: url(../screens/block50.jpg); background-size: contain;}
.Lblock51{background: url(../screens/block51.jpg); background-size: contain;}
.Lblock52{background: url(../screens/block52.jpg); background-size: contain;}
.Lblock53{background: url(../screens/block53.jpg); background-size: contain;}
.Lblock54{background: url(../screens/block54.jpg); background-size: contain;}
.Lblock55{background: url(../screens/block55.jpg); background-size: contain;}
.Lblock56{background: url(../screens/block56.jpg); background-size: contain;}
.Lblock57{background: url(../screens/block57.jpg); background-size: contain;}
.Lblock58{background: url(../screens/block58.jpg); background-size: contain;}
.Lblock59{background: url(../screens/block59.jpg); background-size: contain;}
.Lblock60{background: url(../screens/block60.jpg); background-size: contain;}
.Lblock61{background: url(../screens/block61.jpg); background-size: contain;}
.Lblock62{background: url(../screens/block62.jpg); background-size: contain;}
.Lblock63{background: url(../screens/block63.jpg); background-size: contain;}
.Lblock64{background: url(../screens/block64.jpg); background-size: contain;}
.Lblock65{background: url(../screens/block65.jpg); background-size: contain;}
.Lblock66{background: url(../screens/block66.jpg); background-size: contain;}
.Lblock67{background: url(../screens/block67.jpg); background-size: contain;}
.Lblock68{background: url(../screens/block68.jpg); background-size: contain;}
.Lblock69{background: url(../screens/block69.jpg); background-size: contain;}
.Lblock70{background: url(../screens/block70.jpg); background-size: contain;}
.Lblock71{background: url(../screens/block71.jpg); background-size: contain;}
.Lblock72{background: url(../screens/block72.jpg); background-size: contain;}
.Lblock73{background: url(../screens/block73.jpg); background-size: contain;}
.Lblock74{background: url(../screens/block74.jpg); background-size: contain;}
.Lblock75{background: url(../screens/block75.jpg); background-size: contain;}
.Lblock76{background: url(../screens/block76.jpg); background-size: contain;}
.Lblock77{background: url(../screens/block77.jpg); background-size: contain;}

.Lblock78{background: url(../screens/block78.jpg); background-size: contain;}
.Lblock79{background: url(../screens/block79.jpg); background-size: contain;}
.Lblock80{background: url(../screens/block80.jpg); background-size: contain;}
.Lblock81{background: url(../screens/block81.jpg); background-size: contain;}
.Lblock82{background: url(../screens/block82.jpg); background-size: contain;}
.Lblock83{background: url(../screens/block83.jpg); background-size: contain;}
.Lblock84{background: url(../screens/block84.jpg); background-size: contain;}
.Lblock85{background: url(../screens/block85.jpg); background-size: contain;}
.Lblock86{background: url(../screens/block86.jpg); background-size: contain;}
.Lblock87{background: url(../screens/block87.jpg); background-size: contain;}
.Lblock88{background: url(../screens/block88.jpg); background-size: contain;}
.Lblock89{background: url(../screens/block89.jpg); background-size: contain;}

.Lverb1{background: url(../screens/verb1.jpg); background-size: contain;}
.Lverb2{background: url(../screens/verb2.jpg); background-size: contain;}
.Lverb3{background: url(../screens/verb3.jpg); background-size: contain;}
.Lverb4{background: url(../screens/verb4.jpg); background-size: contain;}
.Lverb5{background: url(../screens/verb5.jpg); background-size: contain;}
.Lverb6{background: url(../screens/verb6.jpg); background-size: contain;}
.Lverb7{background: url(../screens/verb7.jpg); background-size: contain;}
.Lverb8{background: url(../screens/verb8.jpg); background-size: contain;}
.Lverb9{background: url(../screens/verb9.jpg); background-size: contain;}
.Lverb10{background: url(../screens/verb10.jpg); background-size: contain;}
.Lverb11{background: url(../screens/verb11.jpg); background-size: contain;}
.Lverb12{background: url(../screens/verb12.jpg); background-size: contain;}
.Lverb13{background: url(../screens/verb13.jpg); background-size: contain;}
.Lverb14{background: url(../screens/verb14.jpg); background-size: contain;}
.Lverb15{background: url(../screens/verb15.jpg); background-size: contain;}
.Lverb16{background: url(../screens/verb16.jpg); background-size: contain;}
.Lverb17{background: url(../screens/verb17.jpg); background-size: contain;}
.Lverb18{background: url(../screens/verb18.jpg); background-size: contain;}
.Lverb19{background: url(../screens/verb19.jpg); background-size: contain;}
.Lverb20{background: url(../screens/verb20.jpg); background-size: contain;}
.Lverb21{background: url(../screens/verb21.jpg); background-size: contain;}
.Lverb22{background: url(../screens/verb22.jpg); background-size: contain;}
.Lverb23{background: url(../screens/verb23.jpg); background-size: contain;}
.Lverb24{background: url(../screens/verb24.jpg); background-size: contain;}
.Lverb25{background: url(../screens/verb25.jpg); background-size: contain;}
.Lverb26{background: url(../screens/verb26.jpg); background-size: contain;}
.Lverb27{background: url(../screens/verb27.jpg); background-size: contain;}
.Lverb28{background: url(../screens/verb28.jpg); background-size: contain;}
.Lverb29{background: url(../screens/verb29.jpg); background-size: contain;}
.Lverb30{background: url(../screens/verb30.jpg); background-size: contain;}
.Lverb31{background: url(../screens/verb31.jpg); background-size: contain;}
.Lverb32{background: url(../screens/verb32.jpg); background-size: contain;}
.Lverb33{background: url(../screens/verb33.jpg); background-size: contain;}
.Lverb34{background: url(../screens/verb34.jpg); background-size: contain;}
.Lverb35{background: url(../screens/verb35.jpg); background-size: contain;}
.Lverb36{background: url(../screens/verb36.jpg); background-size: contain;}
.Lverb37{background: url(../screens/verb37.jpg); background-size: contain;}
.Lverb38{background: url(../screens/verb38.jpg); background-size: contain;}
.Lverb39{background: url(../screens/verb39.jpg); background-size: contain;}
.Lverb40{background: url(../screens/verb40.jpg); background-size: contain;}
.Lverb41{background: url(../screens/verb41.jpg); background-size: contain;}
.Lverb42{background: url(../screens/verb42.jpg); background-size: contain;}
.Lverb43{background: url(../screens/verb43.jpg); background-size: contain;}
.Lverb44{background: url(../screens/verb44.jpg); background-size: contain;}
.Lverb45{background: url(../screens/verb45.jpg); background-size: contain;}
.Lverb46{background: url(../screens/verb46.jpg); background-size: contain;}
.Lverb47{background: url(../screens/verb47.jpg); background-size: contain;}
.Lverb48{background: url(../screens/verb48.jpg); background-size: contain;}
.Lverb49{background: url(../screens/verb49.jpg); background-size: contain;}
.Lverb50{background: url(../screens/verb50.jpg); background-size: contain;}
.Lverb51{background: url(../screens/verb51.jpg); background-size: contain;}
.Lverb52{background: url(../screens/verb52.jpg); background-size: contain;}
.Lverb53{background: url(../screens/verb53.jpg); background-size: contain;}
.Lverb54{background: url(../screens/verb54.jpg); background-size: contain;}
.Lverb55{background: url(../screens/verb55.jpg); background-size: contain;}
.Lverb56{background: url(../screens/verb56.jpg); background-size: contain;}
.Lverb57{background: url(../screens/verb57.jpg); background-size: contain;}
.Lverb58{background: url(../screens/verb58.jpg); background-size: contain;}
.Lverb59{background: url(../screens/verb59.jpg); background-size: contain;}
.Lverb60{background: url(../screens/verb60.jpg); background-size: contain;}
.Lverb61{background: url(../screens/verb61.jpg); background-size: contain;}
.Lverb62{background: url(../screens/verb62.jpg); background-size: contain;}
.Lverb63{background: url(../screens/verb63.jpg); background-size: contain;}
.Lverb64{background: url(../screens/verb64.jpg); background-size: contain;}
.Lverb65{background: url(../screens/verb65.jpg); background-size: contain;}
.Lverb66{background: url(../screens/verb66.jpg); background-size: contain;}
.Lverb67{background: url(../screens/verb67.jpg); background-size: contain;}
.Lverb68{background: url(../screens/verb68.jpg); background-size: contain;}
.Lverb69{background: url(../screens/verb69.jpg); background-size: contain;}
.Lverb70{background: url(../screens/verb70.jpg); background-size: contain;}
.Lverb71{background: url(../screens/verb71.jpg); background-size: contain;}
.Lverb72{background: url(../screens/verb72.jpg); background-size: contain;}
.Lverb73{background: url(../screens/verb73.jpg); background-size: contain;}
.Lverb74{background: url(../screens/verb74.jpg); background-size: contain;}
.Lverb75{background: url(../screens/verb75.jpg); background-size: contain;}
.Lverb76{background: url(../screens/verb76.jpg); background-size: contain;}
.Lverb77{background: url(../screens/verb77.jpg); background-size: contain;}
.Lverb78{background: url(../screens/verb78.jpg); background-size: contain;}
.Lverb79{background: url(../screens/verb79.jpg); background-size: contain;}
.Lverb80{background: url(../screens/verb80.jpg); background-size: contain;}
.Lverb81{background: url(../screens/verb81.jpg); background-size: contain;}
.Lverb82{background: url(../screens/verb82.jpg); background-size: contain;}
.Lverb83{background: url(../screens/verb83.jpg); background-size: contain;}
.Lverb84{background: url(../screens/verb84.jpg); background-size: contain;}
.Lverb85{background: url(../screens/verb85.jpg); background-size: contain;}
.Lverb86{background: url(../screens/verb86.jpg); background-size: contain;}
.Lverb87{background: url(../screens/verb87.jpg); background-size: contain;}
.Lverb88{background: url(../screens/verb88.jpg); background-size: contain;}
.Lverb89{background: url(../screens/verb89.jpg); background-size: contain;}
.Lverb90{background: url(../screens/verb90.jpg); background-size: contain;}
.Lverb91{background: url(../screens/verb91.jpg); background-size: contain;}
.Lverb92{background: url(../screens/verb92.jpg); background-size: contain;}
.Lverb93{background: url(../screens/verb93.jpg); background-size: contain;}
.Lverb94{background: url(../screens/verb94.jpg); background-size: contain;}
.Lverb95{background: url(../screens/verb95.jpg); background-size: contain;}
.Lverb96{background: url(../screens/verb96.jpg); background-size: contain;}
.Lverb97{background: url(../screens/verb97.jpg); background-size: contain;}
.Lverb98{background: url(../screens/verb98.jpg); background-size: contain;}
.Lverb99{background: url(../screens/verb99.jpg); background-size: contain;}
.Lverb100{background: url(../screens/verb100.jpg); background-size: contain;}
.Lverb101{background: url(../screens/verb101.jpg); background-size: contain;}
.Lverb102{background: url(../screens/verb102.jpg); background-size: contain;}
.Lverb103{background: url(../screens/verb103.jpg); background-size: contain;}
.Lverb104{background: url(../screens/verb104.jpg); background-size: contain;}
.Lverb105{background: url(../screens/verb105.jpg); background-size: contain;}
.Lverb106{background: url(../screens/verb106.jpg); background-size: contain;}
.Lverb107{background: url(../screens/verb107.jpg); background-size: contain;}
.Lverb108{background: url(../screens/verb108.jpg); background-size: contain;}
.Lverb109{background: url(../screens/verb109.jpg); background-size: contain;}
.Lverb110{background: url(../screens/verb110.jpg); background-size: contain;}
.Lverb111{background: url(../screens/verb111.jpg); background-size: contain;}
.Lverb112{background: url(../screens/verb112.jpg); background-size: contain;}
.Lverb113{background: url(../screens/verb113.jpg); background-size: contain;}
.Lverb114{background: url(../screens/verb114.jpg); background-size: contain;}
.Lverb115{background: url(../screens/verb115.jpg); background-size: contain;}
.Lverb116{background: url(../screens/verb116.jpg); background-size: contain;}
.Lverb117{background: url(../screens/verb117.jpg); background-size: contain;}
.Lverb118{background: url(../screens/verb118.jpg); background-size: contain;}
.Lverb119{background: url(../screens/verb119.jpg); background-size: contain;}
.Lverb120{background: url(../screens/verb120.jpg); background-size: contain;}
.Lverb121{background: url(../screens/verb121.jpg); background-size: contain;}
.Lverb122{background: url(../screens/verb122.jpg); background-size: contain;}
.Lverb123{background: url(../screens/verb123.jpg); background-size: contain;}
.Lverb124{background: url(../screens/verb124.jpg); background-size: contain;}
.Lverb125{background: url(../screens/verb125.jpg); background-size: contain;}
.Lverb126{background: url(../screens/verb126.jpg); background-size: contain;}
.Lverb127{background: url(../screens/verb127.jpg); background-size: contain;}
.Lverb128{background: url(../screens/verb128.jpg); background-size: contain;}
.Lverb129{background: url(../screens/verb129.jpg); background-size: contain;}
.Lverb130{background: url(../screens/verb130.jpg); background-size: contain;}
.Lverb131{background: url(../screens/verb131.jpg); background-size: contain;}
.Lverb132{background: url(../screens/verb132.jpg); background-size: contain;}
.Lverb133{background: url(../screens/verb133.jpg); background-size: contain;}
.Lverb134{background: url(../screens/verb134.jpg); background-size: contain;}

.Lverb135{background: url(../screens/verb135.jpg); background-size: contain;}
.Lverb136{background: url(../screens/verb136.jpg); background-size: contain;}
.Lverb137{background: url(../screens/verb137.jpg); background-size: contain;}
.Lverb138{background: url(../screens/verb138.jpg); background-size: contain;}
.Lverb139{background: url(../screens/verb139.jpg); background-size: contain;}
.Lverb140{background: url(../screens/verb140.jpg); background-size: contain;}
.Lverb141{background: url(../screens/verb141.jpg); background-size: contain;}
.Lverb142{background: url(../screens/verb142.jpg); background-size: contain;}
.Lverb143{background: url(../screens/verb143.jpg); background-size: contain;}
.Lverb144{background: url(../screens/verb144.jpg); background-size: contain;}
.Lverb145{background: url(../screens/verb145.jpg); background-size: contain;}
.Lverb146{background: url(../screens/verb146.jpg); background-size: contain;}
.Lverb147{background: url(../screens/verb147.jpg); background-size: contain;}
.Lverb148{background: url(../screens/verb148.jpg); background-size: contain;}
.Lverb149{background: url(../screens/verb149.jpg); background-size: contain;}
.Lverb150{background: url(../screens/verb150.jpg); background-size: contain;}
.Lverb151{background: url(../screens/verb151.jpg); background-size: contain;}
.Lverb152{background: url(../screens/verb152.jpg); background-size: contain;}
.Lverb153{background: url(../screens/verb153.jpg); background-size: contain;}
.Lverb154{background: url(../screens/verb154.jpg); background-size: contain;}
.Lverb155{background: url(../screens/verb155.jpg); background-size: contain;}
.Lverb156{background: url(../screens/verb156.jpg); background-size: contain;}
.Lverb157{background: url(../screens/verb157.jpg); background-size: contain;}
.Lverb158{background: url(../screens/verb158.jpg); background-size: contain;}
.Lverb159{background: url(../screens/verb159.jpg); background-size: contain;}
.Lverb160{background: url(../screens/verb160.jpg); background-size: contain;}
.Lverb161{background: url(../screens/verb161.jpg); background-size: contain;}
.Lverb162{background: url(../screens/verb162.jpg); background-size: contain;}
.Lverb163{background: url(../screens/verb163.jpg); background-size: contain;}
.Lverb164{background: url(../screens/verb164.jpg); background-size: contain;}
.Lverb165{background: url(../screens/verb165.jpg); background-size: contain;}
.Lverb166{background: url(../screens/verb166.jpg); background-size: contain;}
.Lverb167{background: url(../screens/verb167.jpg); background-size: contain;}
.Lverb168{background: url(../screens/verb168.jpg); background-size: contain;}
.Lverb169{background: url(../screens/verb169.jpg); background-size: contain;}

.Lverb170{background: url(../screens/verb170.jpg); background-size: contain;}
.Lverb171{background: url(../screens/verb171.jpg); background-size: contain;}
.Lverb172{background: url(../screens/verb172.jpg); background-size: contain;}
.Lverb173{background: url(../screens/verb173.jpg); background-size: contain;}
.Lverb174{background: url(../screens/verb174.jpg); background-size: contain;}
.Lverb175{background: url(../screens/verb175.jpg); background-size: contain;}
.Lverb176{background: url(../screens/verb176.jpg); background-size: contain;}
.Lverb177{background: url(../screens/verb177.jpg); background-size: contain;}
.Lverb178{background: url(../screens/verb178.jpg); background-size: contain;}
.Lverb179{background: url(../screens/verb179.jpg); background-size: contain;}
.Lverb180{background: url(../screens/verb180.jpg); background-size: contain;}
.Lverb181{background: url(../screens/verb181.jpg); background-size: contain;}
.Lverb182{background: url(../screens/verb182.jpg); background-size: contain;}
.Lverb183{background: url(../screens/verb183.jpg); background-size: contain;}
.Lverb184{background: url(../screens/verb184.jpg); background-size: contain;}
.Lverb185{background: url(../screens/verb185.jpg); background-size: contain;}
.Lverb186{background: url(../screens/verb186.jpg); background-size: contain;}
.Lverb187{background: url(../screens/verb187.jpg); background-size: contain;}
.Lverb188{background: url(../screens/verb188.jpg); background-size: contain;}
.Lverb189{background: url(../screens/verb189.jpg); background-size: contain;}
.Lverb190{background: url(../screens/verb190.jpg); background-size: contain;}
.Lverb191{background: url(../screens/verb191.jpg); background-size: contain;}
.Lverb192{background: url(../screens/verb192.jpg); background-size: contain;}
.Lverb193{background: url(../screens/verb193.jpg); background-size: contain;}
.Lverb194{background: url(../screens/verb194.jpg); background-size: contain;}
.Lverb195{background: url(../screens/verb195.jpg); background-size: contain;}
.Lverb196{background: url(../screens/verb196.jpg); background-size: contain;}
.Lverb197{background: url(../screens/verb197.jpg); background-size: contain;}
.Lverb198{background: url(../screens/verb198.jpg); background-size: contain;}
.Lverb199{background: url(../screens/verb199.jpg); background-size: contain;}
.Lverb200{background: url(../screens/verb200.jpg); background-size: contain;}
.Lverb201{background: url(../screens/verb201.jpg); background-size: contain;}
.Lverb202{background: url(../screens/verb202.jpg); background-size: contain;}
.Lverb203{background: url(../screens/verb203.jpg); background-size: contain;}
.Lverb204{background: url(../screens/verb204.jpg); background-size: contain;}


.Lvocab1{background: url(../screens/vocab1.jpg); background-size: contain;}
.Lvocab2{background: url(../screens/vocab2.jpg); background-size: contain;}
.Lvocab3{background: url(../screens/vocab3.jpg); background-size: contain;}
.Lvocab4{background: url(../screens/vocab4.jpg); background-size: contain;}
.Lvocab5{background: url(../screens/vocab5.jpg); background-size: contain;}
.Lvocab6{background: url(../screens/vocab6.jpg); background-size: contain;}
.Lvocab7{background: url(../screens/vocab7.jpg); background-size: contain;}
.Lvocab8{background: url(../screens/vocab8.jpg); background-size: contain;}
.Lvocab9{background: url(../screens/vocab9.jpg); background-size: contain;}
.Lvocab10{background: url(../screens/vocab10.jpg); background-size: contain;}
.Lvocab11{background: url(../screens/vocab11.jpg); background-size: contain;}
.Lvocab12{background: url(../screens/vocab12.jpg); background-size: contain;}
.Lvocab13{background: url(../screens/vocab13.jpg); background-size: contain;}
.Lvocab14{background: url(../screens/vocab14.jpg); background-size: contain;}
.Lvocab15{background: url(../screens/vocab15.jpg); background-size: contain;}
.Lvocab16{background: url(../screens/vocab16.jpg); background-size: contain;}
.Lvocab17{background: url(../screens/vocab17.jpg); background-size: contain;}
.Lvocab18{background: url(../screens/vocab18.jpg); background-size: contain;}
.Lvocab19{background: url(../screens/vocab19.jpg); background-size: contain;}
.Lvocab20{background: url(../screens/vocab20.jpg); background-size: contain;}
.Lvocab21{background: url(../screens/vocab21.jpg); background-size: contain;}
.Lvocab22{background: url(../screens/vocab22.jpg); background-size: contain;}
.Lvocab23{background: url(../screens/vocab23.jpg); background-size: contain;}
.Lvocab24{background: url(../screens/vocab24.jpg); background-size: contain;}
.Lvocab25{background: url(../screens/vocab25.jpg); background-size: contain;}
.Lvocab26{background: url(../screens/vocab26.jpg); background-size: contain;}
.Lvocab27{background: url(../screens/vocab27.jpg); background-size: contain;}
.Lvocab28{background: url(../screens/vocab28.jpg); background-size: contain;}
.Lvocab29{background: url(../screens/vocab29.jpg); background-size: contain;}
.Lvocab30{background: url(../screens/vocab30.jpg); background-size: contain;}
.Lvocab31{background: url(../screens/vocab31.jpg); background-size: contain;}
.Lvocab32{background: url(../screens/vocab32.jpg); background-size: contain;}
.Lvocab33{background: url(../screens/vocab33.jpg); background-size: contain;}
.Lvocab34{background: url(../screens/vocab34.jpg); background-size: contain;}
.Lvocab35{background: url(../screens/vocab35.jpg); background-size: contain;}
.Lvocab36{background: url(../screens/vocab36.jpg); background-size: contain;}
.Lvocab37{background: url(../screens/vocab37.jpg); background-size: contain;}
.Lvocab38{background: url(../screens/vocab38.jpg); background-size: contain;}
.Lvocab39{background: url(../screens/vocab39.jpg); background-size: contain;}
.Lvocab40{background: url(../screens/vocab40.jpg); background-size: contain;}
.Lvocab41{background: url(../screens/vocab41.jpg); background-size: contain;}
.Lvocab42{background: url(../screens/vocab42.jpg); background-size: contain;}
.Lvocab43{background: url(../screens/vocab43.jpg); background-size: contain;}
.Lvocab44{background: url(../screens/vocab44.jpg); background-size: contain;}
.Lvocab45{background: url(../screens/vocab45.jpg); background-size: contain;}
.Lvocab46{background: url(../screens/vocab46.jpg); background-size: contain;}
.Lvocab47{background: url(../screens/vocab47.jpg); background-size: contain;}
.Lvocab48{background: url(../screens/vocab48.jpg); background-size: contain;}
.Lvocab49{background: url(../screens/vocab49.jpg); background-size: contain;}
.Lvocab50{background: url(../screens/vocab50.jpg); background-size: contain;}
.Lvocab51{background: url(../screens/vocab51.jpg); background-size: contain;}
.Lvocab52{background: url(../screens/vocab52.jpg); background-size: contain;}
.Lvocab53{background: url(../screens/vocab53.jpg); background-size: contain;}
.Lvocab54{background: url(../screens/vocab54.jpg); background-size: contain;}
.Lvocab55{background: url(../screens/vocab55.jpg); background-size: contain;}
.Lvocab56{background: url(../screens/vocab56.jpg); background-size: contain;}
.Lvocab57{background: url(../screens/vocab57.jpg); background-size: contain;}
.Lvocab58{background: url(../screens/vocab58.jpg); background-size: contain;}
.Lvocab59{background: url(../screens/vocab59.jpg); background-size: contain;}
.Lvocab60{background: url(../screens/vocab60.jpg); background-size: contain;}
.Lvocab61{background: url(../screens/vocab61.jpg); background-size: contain;}
.Lvocab62{background: url(../screens/vocab62.jpg); background-size: contain;}
.Lvocab63{background: url(../screens/vocab63.jpg); background-size: contain;}
.Lvocab64{background: url(../screens/vocab64.jpg); background-size: contain;}
.Lvocab65{background: url(../screens/vocab65.jpg); background-size: contain;}
.Lvocab66{background: url(../screens/vocab66.jpg); background-size: contain;}
.Lvocab67{background: url(../screens/vocab67.jpg); background-size: contain;}
.Lvocab68{background: url(../screens/vocab68.jpg); background-size: contain;}
.Lvocab69{background: url(../screens/vocab69.jpg); background-size: contain;}
.Lvocab70{background: url(../screens/vocab70.jpg); background-size: contain;}
.Lvocab71{background: url(../screens/vocab71.jpg); background-size: contain;}
.Lvocab72{background: url(../screens/vocab72.jpg); background-size: contain;}
.Lvocab73{background: url(../screens/vocab73.jpg); background-size: contain;}
.Lvocab74{background: url(../screens/vocab74.jpg); background-size: contain;}
.Lvocab75{background: url(../screens/vocab75.jpg); background-size: contain;}
.Lvocab76{background: url(../screens/vocab76.jpg); background-size: contain;}
.Lvocab77{background: url(../screens/vocab77.jpg); background-size: contain;}
.Lvocab78{background: url(../screens/vocab78.jpg); background-size: contain;}
.Lvocab79{background: url(../screens/vocab79.jpg); background-size: contain;}
.Lvocab80{background: url(../screens/vocab80.jpg); background-size: contain;}
.Lvocab81{background: url(../screens/vocab81.jpg); background-size: contain;}

.Lvocab82{background: url(../screens/vocab82.jpg); background-size: contain;}
.Lvocab83{background: url(../screens/vocab83.jpg); background-size: contain;}
.Lvocab84{background: url(../screens/vocab84.jpg); background-size: contain;}
.Lvocab85{background: url(../screens/vocab85.jpg); background-size: contain;}
.Lvocab86{background: url(../screens/vocab86.jpg); background-size: contain;}
.Lvocab87{background: url(../screens/vocab87.jpg); background-size: contain;}
.Lvocab88{background: url(../screens/vocab88.jpg); background-size: contain;}
.Lvocab89{background: url(../screens/vocab89.jpg); background-size: contain;}
.Lvocab90{background: url(../screens/vocab90.jpg); background-size: contain;}
.Lvocab91{background: url(../screens/vocab91.jpg); background-size: contain;}
.Lvocab92{background: url(../screens/vocab92.jpg); background-size: contain;}
.Lvocab93{background: url(../screens/vocab93.jpg); background-size: contain;}
.Lvocab94{background: url(../screens/vocab94.jpg); background-size: contain;}
.Lvocab95{background: url(../screens/vocab95.jpg); background-size: contain;}
.Lvocab96{background: url(../screens/vocab96.jpg); background-size: contain;}
.Lvocab97{background: url(../screens/vocab97.jpg); background-size: contain;}
.Lvocab98{background: url(../screens/vocab98.jpg); background-size: contain;}
.Lvocab99{background: url(../screens/vocab99.jpg); background-size: contain;}
.Lvocab100{background: url(../screens/vocab100.jpg); background-size: contain;}
.Lvocab101{background: url(../screens/vocab101.jpg); background-size: contain;}
.Lvocab102{background: url(../screens/vocab102.jpg); background-size: contain;}
.Lvocab103{background: url(../screens/vocab103.jpg); background-size: contain;}
.Lvocab104{background: url(../screens/vocab104.jpg); background-size: contain;}
.Lvocab105{background: url(../screens/vocab105.jpg); background-size: contain;}
.Lvocab106{background: url(../screens/vocab106.jpg); background-size: contain;}
.Lvocab107{background: url(../screens/vocab107.jpg); background-size: contain;}
.Lvocab108{background: url(../screens/vocab108.jpg); background-size: contain;}
.Lvocab109{background: url(../screens/vocab109.jpg); background-size: contain;}

.Lconvo1{background: url(../screens/convo1.jpg); background-size: contain;}
.Lconvo2{background: url(../screens/convo2.jpg); background-size: contain;}
.Lconvo3{background: url(../screens/convo3.jpg); background-size: contain;}
.Lconvo4{background: url(../screens/convo4.jpg); background-size: contain;}
.Lconvo5{background: url(../screens/convo5.jpg); background-size: contain;}
.Lconvo6{background: url(../screens/convo6.jpg); background-size: contain;}
.Lconvo7{background: url(../screens/convo7.jpg); background-size: contain;}
.Lconvo8{background: url(../screens/convo8.jpg); background-size: contain;}
.Lconvo9{background: url(../screens/convo9.jpg); background-size: contain;}
.Lconvo10{background: url(../screens/convo10.jpg); background-size: contain;}
.Lconvo11{background: url(../screens/convo11.jpg); background-size: contain;}
.Lconvo12{background: url(../screens/convo12.jpg); background-size: contain;}
.Lconvo13{background: url(../screens/convo13.jpg); background-size: contain;}
.Lconvo14{background: url(../screens/convo14.jpg); background-size: contain;}
.Lconvo15{background: url(../screens/convo15.jpg); background-size: contain;}
.Lconvo16{background: url(../screens/convo16.jpg); background-size: contain;}
.Lconvo17{background: url(../screens/convo17.jpg); background-size: contain;}
.Lconvo18{background: url(../screens/convo18.jpg); background-size: contain;}
.Lconvo19{background: url(../screens/convo19.jpg); background-size: contain;}
.Lconvo20{background: url(../screens/convo20.jpg); background-size: contain;}
.Lconvo21{background: url(../screens/convo21.jpg); background-size: contain;}
.Lconvo22{background: url(../screens/convo22.jpg); background-size: contain;}
.Lconvo23{background: url(../screens/convo23.jpg); background-size: contain;}
.Lconvo24{background: url(../screens/convo24.jpg); background-size: contain;}
.Lconvo25{background: url(../screens/convo25.jpg); background-size: contain;}
.Lconvo26{background: url(../screens/convo26.jpg); background-size: contain;}
.Lconvo27{background: url(../screens/convo27.jpg); background-size: contain;}
.Lconvo28{background: url(../screens/convo28.jpg); background-size: contain;}
.Lconvo29{background: url(../screens/convo29.jpg); background-size: contain;}
.Lconvo30{background: url(../screens/convo30.jpg); background-size: contain;}
.Lconvo31{background: url(../screens/convo31.jpg); background-size: contain;}
.Lconvo32{background: url(../screens/convo32.jpg); background-size: contain;}
.Lconvo33{background: url(../screens/convo33.jpg); background-size: contain;}
.Lconvo34{background: url(../screens/convo34.jpg); background-size: contain;}
.Lconvo35{background: url(../screens/convo35.jpg); background-size: contain;}
.Lconvo36{background: url(../screens/convo36.jpg); background-size: contain;}
.Lconvo37{background: url(../screens/convo37.jpg); background-size: contain;}
.Lconvo38{background: url(../screens/convo38.jpg); background-size: contain;}
.Lconvo39{background: url(../screens/convo39.jpg); background-size: contain;}
.Lconvo40{background: url(../screens/convo40.jpg); background-size: contain;}

.Lconvo41{background: url(../screens/convo41.jpg); background-size: contain;}
.Lconvo42{background: url(../screens/convo42.jpg); background-size: contain;}
.Lconvo43{background: url(../screens/convo43.jpg); background-size: contain;}
.Lconvo44{background: url(../screens/convo44.jpg); background-size: contain;}
.Lconvo45{background: url(../screens/convo45.jpg); background-size: contain;}
.Lconvo46{background: url(../screens/convo46.jpg); background-size: contain;}
.Lconvo47{background: url(../screens/convo47.jpg); background-size: contain;}
.Lconvo48{background: url(../screens/convo48.jpg); background-size: contain;}
.Lconvo49{background: url(../screens/convo49.jpg); background-size: contain;}
.Lconvo50{background: url(../screens/convo50.jpg); background-size: contain;}
.Lconvo51{background: url(../screens/convo51.jpg); background-size: contain;}
.Lconvo52{background: url(../screens/convo52.jpg); background-size: contain;}
.Lconvo53{background: url(../screens/convo53.jpg); background-size: contain;}
.Lconvo54{background: url(../screens/convo54.jpg); background-size: contain;}
.Lconvo55{background: url(../screens/convo55.jpg); background-size: contain;}
.Lconvo56{background: url(../screens/convo56.jpg); background-size: contain;}
.Lconvo57{background: url(../screens/convo57.jpg); background-size: contain;}
.Lconvo58{background: url(../screens/convo58.jpg); background-size: contain;}
.Lconvo59{background: url(../screens/convo59.jpg); background-size: contain;}
.Lconvo60{background: url(../screens/convo60.jpg); background-size: contain;}
.Lconvo61{background: url(../screens/convo61.jpg); background-size: contain;}

.Lconvo62{background: url(../screens/convo62.jpg); background-size: contain;}
.Lconvo63{background: url(../screens/convo63.jpg); background-size: contain;}
.Lconvo64{background: url(../screens/convo64.jpg); background-size: contain;}
.Lconvo65{background: url(../screens/convo65.jpg); background-size: contain;}
.Lconvo66{background: url(../screens/convo66.jpg); background-size: contain;}
.Lconvo67{background: url(../screens/convo67.jpg); background-size: contain;}
.Lconvo68{background: url(../screens/convo68.jpg); background-size: contain;}
.Lconvo69{background: url(../screens/convo69.jpg); background-size: contain;}
.Lconvo70{background: url(../screens/convo70.jpg); background-size: contain;}
.Lconvo71{background: url(../screens/convo71.jpg); background-size: contain;}
.Lconvo72{background: url(../screens/convo72.jpg); background-size: contain;}
.Lconvo73{background: url(../screens/convo73.jpg); background-size: contain;}
.Lconvo74{background: url(../screens/convo74.jpg); background-size: contain;}
.Lconvo75{background: url(../screens/convo75.jpg); background-size: contain;}
.Lconvo76{background: url(../screens/convo76.jpg); background-size: contain;}
.Lconvo77{background: url(../screens/convo77.jpg); background-size: contain;}
.Lconvo78{background: url(../screens/convo78.jpg); background-size: contain;}
